{% extends 'base.html' %}
{% load static %}

{% block seo %}    
<title></title>
<meta name="description" content="" />
<link rel="canonical" href="https://www.myoneblog.com/" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="" />
<meta property="og:description" content="" />
<meta property="og:url" content="https://www.myoneblog.com/" />
<meta property="og:site_name" content="My One Blog" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="" />
<meta name="twitter:title" content="" />

{% endblock seo %}

{% block css %}
<style>
    .content ul,.content ol{
        margin-left: 24px!important;
        margin-top: 10px!important;
    }
    img{
    width: 100%;
    }
</style>
{% endblock css %}
    


{% block body %}
<div class="breadcrumb-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breadcrumb-inner">
					<div class="content">
						<h1 class="title">{{data.title}}</h1>
						<ul class="page-list">
							<li class="list-item"><a href="{% url 'home:home' %}">Home</a></li>
							<li class="list-item"><a href="#">Blogs</a></li>
							<li class="list-item"><a href="{% url 'home:categoriesd' data3.slug %}">{{data3.category}}</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="blog-area-wrapper Political-blog-grid-wrapper" data-padding-top="100" data-padding-bottom="100">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 blog-details-area-wrapper">
				<div class="blog-details-inner-area">
                    <div class="main-img-box">
                       <img src="{{data.image.url}}" alt="{{ie.h1}}" class="img-responsive w-100 mb-4">
                    </div>
                    <div class="tag-box"><a href="blog-two-column-right-sidebar.html" class="category-style-01 v-02 bg-color-b mb-4" tabindex="0">
                        {{data3.category}}
                    </a></div>
                    <h3 class="main-title">{{data.h1}}</h3>
                    <div class="post-meta-main">
                        <div class="post-meta">
                            <ul class="post-meta-list">
                                <li class="post-meta-item">
                                    <a href=""><img src="{{data.author.image.url}}" alt="image" class="image"> <span class="text">{{data.author}}</span></a>
                                </li>
                                <li class="post-meta-item date"><i class="lar la-clock icon"></i> <span class="text">{{data.published}}</span></li>
                            </ul>
                        </div>
                    </div>
                   <div class="content">
                    {{data.content|safe}}
                   </div>
                    <div class="tag-and-social-link">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="tag-wrap">
                                    <ul>
                                        <li class="name">Tags:</li>
                                       
                                        {% for ie in data.tag.all %}
                                        <li><a href="javascript:void(0);" class="tag-btn">{{ie.tags}}</a></li>
                                      
                                        {% endfor %}
                                            
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="social-link-wrap">
                                    <div class="social-icon">
                                        <ul class="social-link-list">
                                            <li class="name">share:</li>
                                            <li class="link-item"><a href="#"><i class="lab la-facebook-f icon"></i></a></li>
                                            <li class="link-item"><a href="#"><i class="lab la-twitter icon"></i></a></li>
                                            <li class="link-item"><a href="#"><i class="lab la-linkedin-in icon"></i></a></li>
                                            <li class="link-item"><a href="#"><i class="las la-rss icon icon"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    <div class="related-post-area" data-padding-top="100">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-title-style-03">
                                    <h3 class="title">related post</h3>
                                    <div class="appendarow"></div>
                                </div>
                            </div>
                            
                            {% for ie in data2 %}
                                
                            <div class="col-lg-6">
                                <div class="blog-grid-style-03 small-02">
                                    <div class="img-box"><img src="{{ie.image.url}}" alt="{{ie.h1}}"></div>
                                    <div class="content">
                                        <div class="post-meta">
                                            <ul class="post-meta-list style-02">
                                                <li class="post-meta-item"><a href="javascript:void(0);"><span class="text author">{{ie.author}}</span></a></li>
                                                <li class="post-meta-item date"><span class="text">{{ie.published}}</span></li>
                                            </ul>
                                        </div>
                                        <h4 class="title font-size-24 font-weight-600"><a href="{% url 'home:blogd' ie.slug %}">{{ie.h1}}</a></h4></div>
                                </div>
                            </div>
                            {% endfor %}
                                
                        </div>
                    </div>
                    <div class="comment-area-full-wrapper" data-padding-top="100">
                        <div class="comment-form-area">
                            <div class="comment-section-title section-title-style-03">
                                <h3 class="title">Leave a Comment</h3></div>
                            <form action="blog-details.html" class="comment-form">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input class="form-control" placeholder="First Name" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Email" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <textarea name="message" id="message" class="form-control" placeholder="Comments" cols="30" rows="10" required></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="btn-wrapper">
                                            <button type="submit" class="btn-default transparent-btn">Submit Comment</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="user-comment-area" data-padding-top="100">
                            <div class="comment-section-title section-title-style-03">
                                <h3 class="title">Comments<span class="total">(3)</span></h3></div>
                            <ul class="comment-list">
                                <li>
                                    <div class="single-comment-wrap">
                                        <div class="thumb"><img src="assets/img/blog/blog-details/user/01.jpg" alt="image"></div>
                                        <div class="content">
                                            <div class="content-top">
                                                <div class="left">
                                                    <h4 class="title">bryana colon</h4>
                                                    <ul class="post-meta">
                                                        <li class="meta-item"><i class="lar la-calendar icon"></i> 20 june 2021</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <p class="comment">I’ll always be. I make a new friend There’s a voice that keeps on calling me. Down the road, that’s where. Every stop I make, . Can’t stay for long, just turn around and I’m gone again.</p>
                                            <div class="reply"><a href="#" class="reply-btn"><i class="las la-reply icon"></i> <span class="text">Reply</span></a></div>
                                        </div>
                                    </div>
                                </li>
                                <li class="has-children">
                                    <ul>
                                        <li>
                                            <div class="single-comment-wrap">
                                                <div class="thumb"><img src="assets/img/blog/blog-details/user/02.jpg" alt="image"></div>
                                                <div class="content">
                                                    <div class="content-top">
                                                        <div class="left">
                                                            <h4 class="title">bryana colon</h4>
                                                            <ul class="post-meta">
                                                                <li class="meta-item"><i class="lar la-calendar icon"></i> 20 june 2021</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <p class="comment">There’s a voice that keeps on calling me. Down the road, that’s where I’ll always be. Every stop I make, I make a new friend. Can’t stay for long, just turn around and I’m gone again. Maybe tomorrow.</p>
                                                    <div class="reply"><a href="#" class="reply-btn"><i class="las la-reply icon"></i> <span class="text">Reply</span></a></div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="single-comment-wrap">
                                        <div class="thumb"><img src="assets/img/blog/blog-details/user/03.jpg" alt="image"></div>
                                        <div class="content">
                                            <div class="content-top">
                                                <div class="left">
                                                    <h4 class="title">bryana colon</h4>
                                                    <ul class="post-meta">
                                                        <li class="meta-item"><i class="lar la-calendar icon"></i> 20 june 2021</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <p class="comment">I make a new friend. Can’t stay for long, just turn around and I’m gone again. Maybe tomorrow, I’ll want to settle down, Until tomorrow, I’ll just keep moving on.</p>
                                            <div class="reply"><a href="#" class="reply-btn"><i class="las la-reply icon"></i> <span class="text">Reply</span></a></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
			</div>
			<div class="col-sm-7 col-md-6 col-lg-4">
				<div class="widget-area-wrapper">
					{% include 'widget.html' %}
					<div class="widget">
						<div class="category style-01">
							<h4 class="widget-title style-01">Categories</h4>
							<ul class="widget-category-list">
                                
                                {% for ie in allcat %}
                                <li class="single-item"><a href="{% url 'home:categoriesd' ie.slug %}" class="wrap"><span class="left">{{ie.category}}</span>
                                     <span class="right">{{ie.tot}}</span></a></li>
							
                                {% endfor %}
                                    
                            </ul>
						</div>
					</div>
					<div class="widget">
						<div class="adds style-01">
							<a href="#"><img src="assets/img/ads-banner/half-page/03.jpg" alt=""></a>
						</div>
					</div>
					<div class="widget">
						<div class="recent-post style-01">
							<h4 class="widget-title style-01">Most Visted</h4>
							<ul class="news-headline-list style-01">
                                
                                {% for ie in data2 %}
                                <li class="news-heading-item">
									<h3 class="title"><a href="">
                                        {{ie.h1}}
                                    </a></h3>
									<div class="post-meta">
										<ul class="post-meta-list style-02">
											<li class="post-meta-item"><a href=""><span class="text author">{{ie.author}}</span></a></li>
											<li class="post-meta-item date"><span class="text">{{ie.published}}</span></li>
										</ul>
									</div>
								</li>
						        {% endfor %}
                                    
                                
							</ul>
						</div>
					</div>
					<div class="widget">
						<div class="tag style-01 black-bg">
							<h4 class="widget-title style-01">tags</h4>
							<ul class="tag-list">
								<li class="single-tag-item"><a href="#">News</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock body %}
    


{% block javascript %}
		
{% endblock javascript %}
    