{% extends 'base.html' %} {% load static %} {% block seo %}
<title>Best Dental Labs In India | Advance Dental Export</title>
<meta name="description" content="Advance Dental Export is a full service dental lab that specializes in dentures, implants, bridges and other teeth services. Lab also imports and exports">
<link rel="canonical" href="https://advancedentalexport.com/">
<meta property="og:locale" content="en_US">
<meta property="og:type" content="website">
<meta property="og:title" content="Advance Dental Export">
<meta property="og:description" content="Advance Dental Export">
<meta property="og:url" content="https://advancedentalexport.com/">
<meta property="og:site_name" content="Advance Dental Export">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:description" content="Advance Dental Export is a full service dental lab that specializes in dentures, implants, bridges and other teeth services. Lab also imports and exports">
<meta name="twitter:title" content="Advance Dental Export">
<meta name="twitter:image" content="{% static 'img/11.jpg' %}">

{% endblock seo %} 
{% block css %}


 {% endblock css %}
{% block body %}
<div style="--swiper-navigation-color:#fff;--swiper-pagination-color:#fff" class="swiper mySwiper">
	<div class="parallax-bg" data-swiper-parallax="-23%"></div>
	<div class="swiper-wrapper">
		<!-- <div class="swiper-slide"><img src="{% static 'banner.jpg' %}" class="w-100" alt="">
			<div class="texts">
				<div class="title h1s text-black" data-swiper-parallax="-300">Bringing Digital Revolution In</div>
				<div class="subtitle h2s text-black" data-swiper-parallax="-200">Digital Dentistry</div>
			</div>
		</div> -->
		<div class="swiper-slide"><img src="{% static 'aa.jpg' %}" class="w-100" alt="">
			<div class="texts">
				<div class="title h1s text-black" data-swiper-parallax="-300">Bringing Digital Revolution In</div>
				<div class="subtitle h2s text-black" data-swiper-parallax="-200">Digital Dentistry</div>
			</div>
		</div>
		
		
	</div>
	<div class="swiper-button-next"></div>
	<div class="swiper-button-prev"></div>
	<div class="swiper-pagination"></div>
</div>
<section id="about-3" class="about-section division">
	<div class="container">
		<div class="abox-3-holder">
			<div class="row d-flex align-items-center">
				<div class="col-lg-4">
					<div class="abox-3 b-right wow fadeInUp" data-wow-delay="0.4s" style="visibility:visible;animation-delay:.4s;animation-name:fadeInUp">
						<div class="row">
							<div class="col-4"><span><img src="{% static 'shield.png' %}" class="pt-2" style="width:80px" alt="Dentist"></span></div>
							<div class="col-8">
								<p class="blue-color">Uncompromised Quality</p>
								<h5 class="h5-xs steelblue-color">Highest Quality Dental Prosthetics</h5></div>
						</div>
						<p class="mt-3">Advance dental export is a dental prosthetic company that has been in the market for more than 20+ years. We provide high quality dental prosthetics, including dental implants, crowns, bridges and dentures, to patients in both the U.S. and worldwide.</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="abox-3 b-right wow fadeInUp" data-wow-delay="0.6s" style="visibility:visible;animation-delay:.6s;animation-name:fadeInUp">
						<div class="row">
							<div class="col-4"><span><img src="{% static 'internet.png' %}" class="pt-1" style="width:80px" alt="Dentist"></span></div>
							<div class="col-8">
								<p class="blue-color">World Wide Presence</p>
								<h5 class="h5-xs steelblue-color">Now Our Services Started In Canada</h5></div>
						</div>
						<p class="mt-3">Boasting a worldwide reach, ADE has been successfully exporting dental lab materials to satisfied customers across Asia, Europe, and America since 2009. Our commitment to excellence and quality service has solidified our position as a trusted partner in the dental industry.</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="abox-3 wow fadeInUp" data-wow-delay="0.8s" style="visibility:visible;animation-delay:.8s;animation-name:fadeInUp">
						<div class="row">
							<div class="col-4"><span><img src="https://unsplash.it/12/8?image=777" data-src="{% static 'fdaa.png' %}" class="pt-2 lazy" style="width:80px" alt="Dentist"></span></div>
							<div class="col-8">
								<p class="blue-color">FDA Registered</p>
								<h5 class="h5-xs steelblue-color">Bringing The Best Technology To Dental Labs</h5></div>
						</div>
						<p class="mt-3">We're FDA registered, so we can provide your clients with the latest equipment and techniques in dentistry. This helps you stay on top of the latest innovations in dentistry and give your patients the best treatment possible.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="about-6" class="pt-100 pb-50 about-section division">
	<div class="container">
		<div class="row d-flex align-items-center">
			<div class="col-lg-7">
				<div class="txt-block pc-30 wow fadeInUp" data-wow-delay="0.4s" style="visibility:visible;animation-delay:.4s;animation-name:fadeInUp"><span class="section-id blue-color">Welcome to Advance Dental Export</span>
					<h3 class="h3-md steelblue-color">The Art Of Esthetic Laboratories</h3>
					<p>“As an accomplished founder and CEO, seasoned digital dental technician, experienced ceramist, and a guide to thousands of budding professionals, my vision is to bring a dental renaissance to the global canvas.
						<br>For the past 20 years, we have toiled and carved our path to becoming a leading dental lab for providing the latest products, innovative materials, and state-of-the-art digital technology. Today it fills us with pride when the dental fraternity considers ADE to be synonymous with international quality. I am confident that we will continue to provide you with innovative, precise, and supremely esthetic products even in the future.”</p>
					<div class="singnature mt-35">
						<p class="p-small mb-15"><b>Haresh Savani, Founder</b></p>
					</div>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="about-img text-center wow fadeInUp" data-wow-delay="0.6s" style="visibility:visible;animation-delay:.6s;animation-name:fadeInUp">
					<img class="img-fluid lazy" src="https://unsplash.it/12/8?image=777" data-src="{% static 'harsh3.png' %}" alt="about-image"></div>
			</div>
		</div>
	</div>
</section>
<div id="statistic-1" class="bg-scroll statistic-section division">
	<div class="container white-color">
		<div class="row">
			<div class="col-md-6 col-lg-3">
				<div class="statistic-block icon-lg wow fadeInUp" data-wow-delay="0.4s" style="visibility:visible;animation-delay:.4s;animation-name:fadeInUp">
					<span class="flaticon-062-cardiogram-3"></span>
					<h5 class="statistic-number"><span class="count-element">5</span>L+</h5>
					<p class="txt-400">Cases</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="statistic-block icon-lg wow fadeInUp" data-wow-delay="0.6s" style="visibility:visible;animation-delay:.6s;animation-name:fadeInUp">
					<span class="flaticon-137-doctor"></span>
					<h5 class="statistic-number"><span class="count-element">400</span>+</h5>
					<p class="txt-400">Qualified professionals</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="statistic-block icon-lg wow fadeInUp" data-wow-delay="0.8s" style="visibility:visible;animation-delay:.8s;animation-name:fadeInUp">
					<span><img src="{% static 'dentist.png' %}" style="width:80px" alt="Dentist"></span>
					<h5 class="statistic-number"><span class="count-element">3000</span>+</h5>
					<p class="txt-400">Trusted Dentist</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="statistic-block icon-lg wow fadeInUp" data-wow-delay="1s" style="visibility:visible;animation-delay:1s;animation-name:fadeInUp">
					<span class="flaticon-040-placeholder"></span>
					<h5 class="statistic-number"><span class="count-element">200</span>+</h5>
					<p class="txt-400">Local Partners</p>
				</div>
			</div>
		</div>
	</div>
</div>
<section id="services-5" class="bg-lightgrey wide-100 services-section division">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 offset-lg-1 section-title">
				<h3 class="h3-md steelblue-color">A Complete One Stop Dental Solution With Cutting Edge Technology</h3></div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="owl-carousel owl-theme services-holder">
					<div class="sbox-5">
						<div class="sbox-5-txt">
							<h3 class="h4-sm blue-color mt-2">Porcelain fused to metal(PFM)<br><span style="opacity:0">Porcelain fused to metal(PFM)</span></h3><img src="{% static 'fn2.png' %}" class="mb-3 mt-3" alt="Advance Dental Image" srcset="">
							<p>Porcelain bonded to metal has remind one of the most predictable and strongest choices for dental restoration. Our dental laboratory specializes in crafting traditional PFMS. These resolution bring esthetic’s white providing amazing strength and function in the posteriors area</p>
						</div>
					</div>
					<div class="sbox-5">
						<div class="sbox-5-txt">
							<h3 class="h4-sm blue-color mt-2 mb-4">Zir-icon CAD/CAM Full Contour Milled Zirconia Crowns and Bridges</h3><img src="{% static 'img/12.jpg' %}" class="mb-3 mt-3" alt="Image">
							<p>Zir-icon is a high strength, milled to full contour, highly translucent zirconia restoration with NO porcelain layering. Zir-icon utilizes the latest technology available in our CAD/CAM product line. Ideal for posterior crowns and bridges</p>
						</div>
					</div>
					<div class="sbox-5">
						<div class="sbox-5-txt">
							<h3 class="h4-sm blue-color mt-2 mb-4">IPS e.max All Ceramic Restorations<br><span style="opacity:0">Porcelain fused to metal(PFM)</span></h3><img src="{% static 'img/13.png' %}" class="mb-3 mt-3" alt="Advance Dental Image" srcset="">
							<p>Our revolutionary new e.max CAD/CAM ceramic restorations offer the latest in digital design technology and ceramic engineering science. IPS e.max is the ultimate in metal-free esthetics and strength, offering a wide range of restorative options for veneers, inlays, onlays, crowns, bridges and implants.</p>
						</div>
					</div>
					<div class="sbox-5">
						<div class="sbox-5-txt">
							<h3 class="h4-sm blue-color mt-2 mb-4">Ad- Abutments Product Implant<br><span style="opacity:0">Porcelain fused to metal(PFM)</span></h3><img src="{% static 'img/14.png' %}" class="mb-3 mt-3" alt="Advance Dental Image" srcset="">
							<p>AD- abutments are custom engineered to best meet each patient’s case needs. ADE uses the most advanced design and milling technologies to deliver the most precise fits available. ADE has developed the technology in order to deliver abutments that are compatible with most major implant platforms.</p>
						</div>
					</div>
					<div class="sbox-5">
						<div class="sbox-5-txt">
							<h3 class="h4-sm blue-color mt-2 mb-4">NobelProcera Solution<br><span style="opacity:0">Porcelain fused to metal(PFM)</span></h3><img src="{% static 'img/16.png' %}" class="mb-3 mt-3" alt="Advance Dental Image" srcset="">
							<p>No one knows industrially produced CAD/CAM dental prosthetics like we do. Nobel Biocare was the first to produce dental restorations in this way. Over 30 years and more than 11 million units later, NobelProcera remains a leader in the precision engineering and manufacturing of dental prosthetics.</p>
						</div>
					</div>
					<div class="sbox-5">
						<div class="sbox-5-txt">
							<h3 class="h4-sm blue-color mt-2 mb-4">BPS – Biofunctional Prosthetic System<br><span style="opacity:0">Porcelain fused to metal(PFM)</span></h3><img src="{% static 'img/15.png' %}" class="mb-3 mt-3" alt="Advance Dental Image" srcset="">
							<p>They provide you with self-confidence, charisma, and self-assurance. It goes without saying, therefore, that you want to gather all the necessary information before you make the decision regarding the optimum dentures for you.</p>
						</div>
					</div>
					<div class="sbox-5">
						<div class="sbox-5-txt">
							<h3 class="h4-sm blue-color mt-2 mb-4">Digital Crown & Bridges<br><span style="opacity:0">Porcelain fused to metal(PFM)</span></h3><img src="{% static 'img/17.png' %}" class="mb-3 mt-3" alt="Advance Dental Image" srcset="">
							<p>Digital dentistry at advance dental export CAD/CAM milling and 3D printing Full Service Dental Laboratory The world of Cad-Cam and digital dentistry has changed and improved dramatically in the last few years. Advance dental export has invested heavily in this new digital market and has taken time to study these advancements in the dental Industry.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="">
	<img src="https://unsplash.it/12/8?image=777" data-src="{% static 'image-07.png' %}" class="w-100 d-bbnone lazy"  alt="Image">
</section>
<section id="banner-7" class="bg-fixed banner-section division">
	<div class="container white-color">
		<div class="row d-flex align-items-center">
			<div class="col-md-8 col-lg-6 col-xl-5">
				<div class="banner-txt wow fadeInUp" data-wow-delay="0.4s" style="visibility:visible;animation-delay:.4s;animation-name:fadeInUp">
					<h2 class="h2-xs">Quality Services<br>From Best Team</h2>
					<p>The best teamwork comes from men who are working independently towards one goal: to provide the best Digital Dentistry all over the Globe.</p><a href="{% url 'home:contact' %}" class="btn btn-blue tra-white-hover mt-20">Get In Touch</a></div>
			</div>
		</div>
	</div>
</section>


<div id="gallery-1" class="gallery-section division pt-100">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 offset-lg-1 section-title">
				<h3 class="h3-md steelblue-color">Hear It From Them - Our Clientele</h3></div>
		</div>
	</div>
	<div class="container">
		<div class="row gallery-items-list">
			<div class="owl-carousel owl-theme services-holder3">		
					<!-- SERVICE BOX #1 -->
					<div class="sbox-5">
						<div style="padding:125% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/790146326?h=211a9911a2&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Testimonial_-_3"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
					</div>
					<div class="sbox-5">
						<div style="padding:125% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/781419231?h=8ce2f809d6&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="VID-20221130-WA0021_HLbYZzr"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
					</div>
					
					<div class="sbox-5">
						<div style="padding:125% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/781418955?h=7c269d8ab9&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Testimonial Dr.Brijesh Patel"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
					</div>
			</div>
		</div>
		
	</div>
</div>


<section id="services-7" class="bg-lightgrey wide-70 servicess-section division">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 offset-lg-1 section-title">
				<h3 class="h3-md steelblue-color">Building The Future Of Digital Dentistry</h3></div>
		</div>
		<div class="row">
			<div class="col-lg-8">
				<div class="row">
					<div class="col-md-6">
						<div class="sbox-7 icon-xs wow fadeInUp" data-wow-delay="0.4s" style="visibility:visible;animation-delay:.4s;animation-name:fadeInUp">
							<a href="#"><span class="flaticon-137-doctor blue-color"></span><div class="sbox-7-txt"><h5 class="h5-sm steelblue-color">Top Level Technician</h5>
								<p class="p-sm">We are dedicated to provide our dentist with the highest level of care, quality products and top notch services.
									 We have a team of highly qualified dental technicians
									 who are committed to provide you with the best services possible. </p></div></a></div>
					</div>
					<div class="col-md-6">
						<div class="sbox-7 icon-xs wow fadeInUp" data-wow-delay="0.6s" style="visibility:visible;animation-delay:.6s;animation-name:fadeInUp"><a href="#">
							<span class="flaticon-076-microscope blue-color"></span><div class="sbox-7-txt"><h5 class="h5-sm steelblue-color">Modern Equipment</h5>
								<p class="p-sm">Advance Dental Export makes the use of the latest technologies in digital dentistry to manufacture all the dental prosthetics. We are committed to providing high-quality,
									 affordable products and services to all our dentist. </p></div></a></div>
					</div>
					<div class="col-md-6">
						<div class="sbox-7 icon-xs wow fadeInUp" data-wow-delay="0.8s" style="visibility:visible;animation-delay:.8s;animation-name:fadeInUp"><a href="#">
							<span class="flaticon-065-hospital-bed blue-color"></span><div class="sbox-7-txt"><h5 class="h5-sm steelblue-color">Qualified Facilities</h5>
								<p class="p-sm">We believe that quality is the most important thing we can provide our customers. Our goal is to make sure every single person who works at Advance Dental Export is committed to making sure you receive 
									only the highest-quality dental equipment available on the market today. </p></div></a></div>
					</div>
					<div class="col-md-6">
						<div class="sbox-7 icon-xs wow fadeInUp" data-wow-delay="1s" style="visibility:visible;animation-delay:1s;animation-name:fadeInUp"><a href="#">
							<span class="flaticon-058-blood-transfusion-2 blue-color"></span><div class="sbox-7-txt"><h5 class="h5-sm steelblue-color">Professional Services</h5>
								<p class="p-sm">At Advance Dental Export, we understand that dental care is important. That's why we offer a wide variety of professional services to help you take care of your teeth and gums. From extractions to crowns and bridges,
									 we can help you get the ultimate smile design you've always wanted.</p></div></a></div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="services-7-table blue-table mb-30 wow fadeInUp" data-wow-delay="0.6s" style="visibility:visible;animation-delay:.6s;animation-name:fadeInUp">
					<h4 class="h4-xs">Opening Hours:</h4>
					<p class="p-sm">We understand that sometimes you need a little extra attention, and we're here to help.
						 We know it's not always easy to get regular checkups, so we're here to provide them on-demand. 
						Just send us an email or give us a call at 	+91 8469 8888 77, and we'll come right over!</p>
					<table class="table">
						<tbody>
							<tr>
								<td>Mon – Thu</td>
								<td>-</td>
								<td class="text-right">9:00 AM - 8:30 PM</td>
							</tr>
							<tr>
								<td>Friday</td>
								<td>-</td>
								<td class="text-right">9:00 AM - 8:30 PM</td>
							</tr>
							<tr>
								<td>Saturday</td>
								<td>-</td>
								<td class="text-right">9:00 AM - 8:30 PM</td>
							</tr>
							<tr class="last-tr">
								<td>Sunday</td>
								<td>-</td>
								<td class="text-right">Closed</td>
							</tr>
						</tbody>
					</table>
					<h5 class="h5-sm">Need more help?</h5>
					<p class="p-sm"><a href="{% url 'home:contact' %}" class="btn btn-outline-light bo">Get In Touch</a></p>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="services-6" class="bg-blue wide-40 servicess-section division">
	<div class="container white-color">
		<div class="row">
			<div class="col-lg-10 offset-lg-1 section-title">
				<h3 class="h3-md">Our Core Dental Services</h3>
				<p>Our Clients Enjoy the Widest Range of Services Available to the Dental Profession Today!</p>
			</div>
		</div>
		<div class="row d-flex align-items-center">
			<div class="col-md-6 col-lg-4">
				<div class="sbox-6 pr-30 text-right wow fadeInRight" data-wow-delay="0.4s">
					<h5 class="h5-md">CAD/CAM Technology</h5>
					<p>Advance Dental Export remains the leader in offering digital technology to our clients. We currently support 3M True Definition, Cadent Itero, as well as many other open architecture systems. Contact our dedicated staff for further assistance.</p>
				</div>
				<div class="sbox-6 pr-30 text-right wow fadeInRight" data-wow-delay="0.6s">
					<h5 class="h5-sm">Shade Analysis</h5>
					<p>We can match the most difficult shades using your digital photos or in-lab consultation. – Send digital photos to: <a href="mailto:color@advancedentalexport.com">color@advancedentalexport.com</a></p>
				</div>
				<div class="sbox-6 pr-30 text-right wow fadeInRight" data-wow-delay="0.8s">
					<h5 class="h5-md">Implant Specialists</h5>
					<p>Assistance with implant cases, including diagnostic work-up, stent fabrication and components for implant systems. In house design for custom abutments and denture bars.</p>
				</div>
				<div class="sbox-6 pr-30 text-right wow fadeInLeft" data-wow-delay="0.8s">
					<h5 class="h5-md">Diagnostic Wax-Ups</h5>
					<p>Complete diagnostic work-up service for treatment planning.</p>
				</div>
			</div>
			<div class="col-lg-4 s6-img">
				<div class="sbox-6-img mb-40 text-center wow fadeInUp" data-wow-delay="0.8s"><img class="img-fluid lazy" src="https://unsplash.it/12/8?image=777" data-src="{% static 'images/tooth.png' %}" alt="services-image"></div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="sbox-6 pl-30 wow fadeInLeft" data-wow-delay="0.4s">
					<h5 class="h5-md">Custom Milling</h5>
					<p>Custom milling of zirconia, implant abutments, overdenture bars, temporaries and ceramics.</p>
				</div>
				<div class="sbox-6 pl-30 wow fadeInLeft" data-wow-delay="0.6s">
					<h5 class="h5-md">Laser Welding</h5>
					<p>Laser welding for quick repairs of partial dentures</p>
				</div>
				<div class="sbox-6 pl-30 wow fadeInLeft" data-wow-delay="0.8s">
					<h5 class="h5-md">Case Planning Assistance</h5>
					<p>Personal consultations with doctors and staff for treatment options with recommendations from a technical perspective.</p>
				</div>
				<div class="sbox-6 pl-30 wow fadeInLeft" data-wow-delay="0.8s">
					<h5 class="h5-md">Cosmetic Restoration Service</h5>
					<p>Esthetic diagnostic wax-ups, silicone matrices for intraoral mock-ups and temporaries. We use the latest materials and technologies to achieve predictable results for your patients.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="reviews-2" class="bg-lightgrey wide-100 reviews-section division">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 offset-lg-1 section-title">
				<h3 class="h3-md steelblue-color">Our Testimonials</h3></div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="owl-carousel owl-theme reviews-holder">{% for ie in data %}
					<div class="review-2">
						<div class="review-txt text-center">
							<div class="quote"><img src="{% static 'images/quote.png' %}" alt="quote-img"></div>
							<div class="testimonial-avatar"><img src="{{ie.image.url}}" alt="testimonial-avatar"></div>
							<p>{{ie.review}}</p>
							<div class="review-author">
								<h5 class="h5-sm">{{ie.name}}</h5><span>{{ie.position}}</span></div>
						</div>
					</div>{% endfor %}</div>
			</div>
		</div>
	</div>
</section>
<div id="gallery-1" class="gallery-section division pt-100">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 offset-lg-1 section-title">
				<h3 class="h3-md steelblue-color">Gallery - Dental Export Laboratories</h3></div>
		</div>
	</div>
	<div class="row gallery-items-list text-center">
		<div class="owl-carousel owl-theme services-holder2">		
								
			{% for ie in gallery %}
				<!-- SERVICE BOX #1 -->
				<div class="sbox-5">
					<div class="doctors-2">	

						<!-- Doctor Photo -->
						<div class="hover-overlay"> 
							<img class="img-fluid " src="{{ie.image.url}}" alt="doctor-foto" >	
						</div>								
					</div>
				</div>
			{% endfor %}
				

			
		
		</div>
		
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<div class="all-posts-btn mb-40 wow fadeInUp" data-wow-delay="1s"><a href="{% url 'home:gallery' %}" class="btn btn-blue blue-hover">See More</a></div>
		</div>
	</div>
</div>
<section id="contacts-1" class="bg-lightgrey wide-60 contacts-section division">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 offset-lg-1 section-title">
				<h3 class="h3-md steelblue-color">Have a Question? Get In Touch</h3>
				<p>Have a question? Want to book an appointment for yourself or your children? Give us a call or send an email to contact the Advance Dental Exports.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5 col-lg-4">
				<div class="contact-box mb-40">
					<h5 class="h5-sm steelblue-color">Contact Address</h5>
					<p>Plot No.3/ 3-3/4, Dhuna House, Opp. Patel Nagar, A.K.Road, Varachha, Surat (Gujarat) India. Pincode-395008</p>
					<p>Phone: +91 84 88 88 88 77</p>
					<p>Email: <a href="mailto:info@advancedentalexport.com" class="blue-color">info@advancedentalexport.com</a></p>
				</div>
				<div class="contact-box mb-40">
					<h5 class="h5-sm steelblue-color">Working Hours</h5>
					<p>Monday – Friday: 9:00 AM - 8:30 PM</p>
					<p>Saturday : 9:00 AM - 8:30 PM</p>
					<p>Sunday : Closed</p>
				</div>
			</div>
			<div class="col-md-7 col-lg-8">
				<div class="form-holder mb-40">
					<form class="row contact-form2" method="post" action="{% url 'enquiry:contactd' %}">{% csrf_token %}
						<div class="col-md-12 col-lg-6">
							<div class="form-group">
								<input id="form_name" name="name" class="form-control name" placeholder="Your Name*" required data-error="Enter no more than (2) characters.">
								<div class="help-block with-errors"></div>
							</div>
						</div>
						<div class="col-md-12 col-lg-6">
							<div class="form-group">
								<input id="form_email" class="form-control email" type="email" name="email" placeholder="Your Email" required data-error="Email is required">
								<div class="help-block with-errors"></div>
							</div>
						</div>
						<div class="col-md-12 col-lg-6">
							<div class="form-group">
								<input id="form_phone" class="form-control phone" type="tel" name="contact" placeholder="Your Phone Number" required data-error="Please enter only digits.">
								<div class="help-block with-errors"></div>
							</div>
						</div>
						<div class="col-md-12 col-lg-6">
							<div class="form-group">
								<input id="form_subject" class="form-control subject" name="subject" placeholder="Subject*" required data-error="Subject is required">
								<div class="help-block with-errors"></div>
							</div>
						</div>
						<div class="col-md-12 input-message">
							<div class="form-group">
								<textarea id="form-message" class="form-control message" name="message" rows="6" placeholder="Your Message ..." required data-error="Enter no more than (10) characters."></textarea>
								<div class="help-block with-errors"></div>
							</div>
						</div>
						<div class="messages"></div>
						<div class="col-md-12 mt-15 form-btn">
							<button type="submit" class="btn btn-md btn-blue blue-hover submit">Send Your Message</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="blog-1" class="wide-60 blog-section division">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 offset-lg-1 section-title">
				<h3 class="h3-md steelblue-color">Our Stories, Tips & Latest News</h3></div>
		</div>
		<div class="row">{% for ie in data2 %}
			<div class="col-lg-4">
				<div class="blog-post wow fadeInUp" data-wow-delay="0.4s">
					<div class="blog-post-img"><img class="img-fluid lazy" src="https://unsplash.it/12/8?image=777" data-src="{{ie.image.url}}" alt="blog-post-image"></div>
					<div class="blog-post-txt">
						<h5 class="h5-sm steelblue-color"><a href="{% url 'home:blogd' ie.slug %}">{{ie.h1}}</a></h5><span>{{ie.published}} by <span>{{ie.author}}</span></span>
						<p>{{ie.description}}</p>
					</div>
				</div>
			</div>{% endfor %}</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="all-posts-btn mb-40 wow fadeInUp" data-wow-delay="1s"><a href="{% url 'home:blogs' %}" class="btn btn-blue blue-hover">Read More Posts</a></div>
			</div>
		</div>
	</div>
</section>
<section class="customer-logos slider mb-4" style="height: auto!important;">
	
	{% for ie in  client %}
	<div class="slide"><img  src="{{ie.image.url}}"></div>
	
	{% endfor %}
		
 </section>
{% endblock body %} {% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
<script>
	$(document).ready(function(){
    $('.customer-logos').slick({
        slidesToShow: 6,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 1000,
        arrows: false,
        dots: false,
        pauseOnHover: false,
        responsive: [{
            breakpoint: 768,
            settings: {
                slidesToShow: 4
            }
        }, {
            breakpoint: 520,
            settings: {
                slidesToShow: 3
            }
        }]
    });
});
</script>
<script type="application/ld+json">{ "@context": "https://schema.org", "@type": "Organization", "name": "Advance Dental Export", "alternateName": "Advance Dental Export", "url": "https://advancedentalexport.com/", "logo": "https://advancedentalexport.com/static/img/logo.png", "contactPoint": { "@type": "ContactPoint", "telephone": "+91 84 88 88 88 77", "contactType": "customer service", "areaServed": ["US","IN"], "availableLanguage": "en" }, "sameAs": [ "https://www.facebook.com/advance.dental.surat/", "https://www.instagram.com/advance_dental_export/", "https://www.linkedin.com/company/advance-dental-export/" ] }</script>{% endblock js %}