{% load static %}
<div class="widget">
    <div class="social-link style-01">
        <h4 class="widget-title style-01">Follow Us</h4>
        <ul class="widget-social-link-list">
            <li class="single-item"><span class="left-content"><a href="#" class="icon facebook"><i class="lab la-facebook-f"></i></a> <span class="followers-numb"><span class="count">0</span> followers</span>
                </span> <a href="#" class="link facebook">like</a></li>
            <li class="single-item"><span class="left-content"><a href="#" class="icon twitter"><i class="lab la-twitter"></i></a> <span class="followers-numb"><span class="count">0</span> followers</span>
                </span> <a href="#" class="link twitter">like</a></li>
            <li class="single-item"><span class="left-content"><a href="#" class="icon pinterest"><i class="lab la-pinterest-p"></i></a> <span class="followers-numb"><span class="count">0</span> followers</span>
                </span> <a href="#" class="link pinterest">follow</a></li>
            <li class="single-item"><span class="left-content"><a href="#" class="icon youtube"><i class="lab la-youtube"></i></a> <span class="followers-numb"><span class="count">0</span> Subscriber</span>
                </span> <a href="#" class="link youtube">Subscribe</a></li>
            <li class="single-item"><span class="left-content"><a href="#" class="icon linkedin"><i class="lab la-linkedin-in"></i></a> <span class="followers-numb"><span class="count">0</span> followers</span>
                </span> <a href="#" class="link linkedin">like</a></li>
            <li class="single-item"><span class="left-content"><a href="#" class="icon instagram"><i class="lab la-instagram"></i></a> <span class="followers-numb"><span class="count">0</span> followers</span>
                </span> <a href="#" class="link instagram">follow</a></li>
        </ul>
    </div>
</div>