{% extends 'base.html' %}
{% load static %}

{% block seo %}    
<title></title>
<meta name="description" content="" />
<link rel="canonical" href="https://www.myoneblog.com/" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="" />
<meta property="og:description" content="" />
<meta property="og:url" content="https://www.myoneblog.com/" />
<meta property="og:site_name" content="My One Blog" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="" />
<meta name="twitter:title" content="" />

{% endblock seo %}

{% block css %}
{% endblock css %}
    


{% block body %}

{% endblock body %}
    


{% block javascript %}
		
{% endblock javascript %}
    